.jl-pagination-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.jl-pagination-wrap ul.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.jl-pagination-wrap .pagination li {
  display: inline-block;
}

.jl-pagination-wrap>nav {
  margin-right: 12px;
}

.jl-pagination-wrap .jl-results-per-page {
  width: auto;
  display: inline-block;
}

@media screen and (max-width:767px) {
  .jl-pagination-wrap>nav {
    width: 100%;
  }
}

.spinner {
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	width: 4em;
	height: 4em;
  padding: 7px;
	border-radius: 50%;
	transform: scale(.4);
  top: -15px;
  right: -10px;
  &-wrapper {
    position: relative;
    width: 4em;
    height: 4em;
    border-radius: 100%;
    left: calc(50% - 2em);
    &:after {
      content: "";
      background: $white;
      border-radius: 50%;
      width: 3em;
      height: 3em;
      position: absolute;
      top: 0.5em;
      left: 0.5em;
    }
  }
}

.rotator {
	position: relative;
	width: 4em;
	border-radius: 4em;
	overflow: hidden;
	animation: rotate 2000ms infinite linear;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $skyblue;
    border: 3px solid $white;
    border-radius: 100%;
  }
}

.inner-spin {
	background: $white;
	height: 4em;
	width: 2em;
  animation: rotate-left 2500ms infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
	border-radius: 2em 0 0 2em;
	transform-origin: 2em 2em;
  &:last-child {
    animation: rotate-right 2500ms infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
    margin-top: -4em;
    border-radius: 0 2em 2em 0;
    float: right;
    transform-origin: 0 50%;
  }
}
@keyframes rotate-left {
	60%, 75%, 100% {
    	transform: rotate(360deg);
  	}
}

@keyframes rotate {
	0% {
    	transform: rotate(0);
  	}
  	100% {
    	transform: rotate(360deg);
  	}
}

@keyframes rotate-right {
	0%, 25%, 45% {
    	transform: rotate(0);
  	}

  	100% {
    	transform: rotate(360deg);
  	}
}